{% extends 'admin/base.html.twig' %}

{% block title %}Attribute index{% endblock %}

{% block body %}
    <div class="row g-2 align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                Matrix
            </div>
            <h2 class="page-title">
                Wildberries Report Detail By Period index
            </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
            </div>
        </div>
    </div>

    <div class="card card-body">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Data start <br>/ finish</th>
                <th>Number report</th>
                <th>Number rrd</th>
                <th>Number rrd</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for report in pagination %}
                <tr>

                    <td>{{ report.id }}</td>
                    <td>
                        {{ report.dateFrom | date('Y-m-d')}} <br>
                        {{ report.dateTo | date('Y-m-d') }}
                        {#<a class="btn btn-sm btn-bitbucket rounded-2" href="{{ path('matrix.admin.syncing.key.edit', {'id': key.id}) }}">edit</a>
                        <a class="btn btn-sm btn-danger rounded-2" href="{{ path('matrix.admin.syncing.key.remove', {'id': key.id}) }}">remove</a>#}
                    </td>
                    <td>{{ report.realizationreportId }}</td>
                    <td>{{ report.rrdId }}</td>
                    <td>
                        {{ report.rawData.subject_name | json_encode }}
                    </td>

                    <td>
                        <a href="{{ path('matrix.admin.syncing.report_detail_by_period.show', {'id': report.id}) }}">show</a>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination mt-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
