<a href="{{ path('store.product.show',{'slug': product.slug} ) }}">
    <div class="product__img">
        <div class="product__img_slider swiper">
            <div class="swiper-wrapper">
                {% include 'store/common/product/images_product_card.html.twig' %}
            </div>
        </div>
    </div>
</a>
<div class="product__row">
    {% if product.price.listPrice == product.price.price %}
        <span class="product__cost">{{ product.price.price|number_format(0, ',', ' ')}} р.</span>
    {% else %}
        <span class="product__cost">{{ product.price.listPrice|number_format(0, ',', ' ') }} р.</span>
        <del class="product__old">{{ product.price.price|number_format(0, ',', ' ') }} р.</del>
        <span class="product__sale">
            -{{ ((product.price.listPrice / product.price.price) * 100)|number_format(0, ',', ' ') }}%
        </span>
    {% endif %}
</div>
<p class="product__name">{{ product.name }}</p>
{#<ul class="product__colors">
    <li><a href="#" style="background-color: #9EDFE5;"></a></li>
    <li><a href="#" style="background-color: #6E72A8;"></a></li>
    <li><a href="#" style="background-color: #3740B4;"></a></li>
    <li><a href="#" style="background-color: #A8AAB6;"></a></li>
    <li><a href="#" style="background-color: #27262C;"></a></li>
</ul>#}
<div class="product__hidden">
    {#
    <button class="product__addtocart btn-primary" type="button">
        <img src="{{ asset('./img/icons/cart.svg') }}" alt="cart" width="20" height="20">
        В корзину
    </button>
    #}
    <div class="product__sizes">Размеры: XS S M L</div>
</div>