<div class="header__bottom">
    <div class="wrapper">
        <nav class="nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <meta itemprop="name" content="Catalog">
            <ul class="nav__list" itemprop="about" itemscope="" itemtype="https://schema.org/ItemList">
                {% for element in menu.header %}
                    {% if element.children is defined %}
                        <li class="nav__item menu-droper" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ItemList">
                            <a href="{{ element.href }}" class="nav__link" itemprop="url">
                                <span itemprop="name">{{ element.name }}</span>
                                <meta itemprop="name" content={{ element.name }} />
                            </a>
                            <div class="menu">
                                <div class="wrapper">
                                    <div class="menu__content">
                                        <div class="menu__cols">
                                            {% for subMenu in element.children %}
                                                <div class="menu__col">
                                                    <div class="menu__title">{{ subMenu.name }}</div>
                                                    <ul class="menu__list" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ItemList">
                                                        {% if subMenu.children is defined %}
                                                            {% for item in subMenu.children %}
                                                                <li temprop="itemListElement" itemscope="" itemtype="https://schema.org/ItemList">
                                                                    <a href="{{ item.href }}" itemprop="url">
                                                                        {{ item.name }}
                                                                        <meta itemprop="name" content={{ item.name }} />
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a href="#" class="menu__banner">
                                            <img src="{{ asset('./img/banners/menu-banner.webp') }}" alt="banner menu" width="392" height="290">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                            <a href="{{ element.href }}" class="nav__link" itemprop="url">
                                {{ element.name }}
                                <meta itemprop="name" content={{ element.name }} />
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>