{# Получение атрибутов текущего роута  #}
{% set _route = app.request.attributes.get('_route') %}
{% set _route_params = app.request.attributes.get('_route_params') %}

{# Получаем GET параметр сортировки #}
{% set _current_sort = app.request.query.get('sort', 'popularity') %}


    <div class="products__items products-4">
        {% for product in pagination %}
            <div class="product" data-product-id="{{ product.id }}">
                {% include 'default/store/common/product/item_product_card.html.twig' %}
            </div>
        {% endfor %}

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Доступные события:
                //
                // impression — просмотр списка товаров;
                // detail — просмотр товара;
                // add — добавление товара в корзину;
                // remove — удаление товара из корзины;
                // purchase — покупка;
                pushStoreMetrika('impression', Array.from(document.querySelectorAll('[data-product-id]')).map(v => parseInt(v.dataset.productId)))
            })
        </script>

    </div>



    {{ pagerfanta(pagination) }}

{#
<div class="catalog__main">
    <div class="catalog__top">
        <div class="sort">
            <div class="sort__trigger">По популярности</div>
            <ul class="sort__list">
                {% for _sorting_rule ,_sorting_rule_title in sorting_rules %}
                    <li class="{{ _sorting_rule == _current_sort ? 'active' }}">
                        <a href="{{ path(_route, _route_params|merge({ sort: _sorting_rule })) }}" rel="nofollow">{{ _sorting_rule_title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="filter-trigger">
            <img src="{{ asset('./default/img/icons/filter.svg') }}" alt="filter" width="20" height="20">
            Фильтры
        </div>
    </div>
    <div class="products">
        <div class="products__items products-3">
            {% for product in pagination %}
                <div class="product" data-product-id="{{ product.id }}">
                    {% include 'default/store/common/product/item_product_card.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Доступные события:
            //
            // impression — просмотр списка товаров;
            // detail — просмотр товара;
            // add — добавление товара в корзину;
            // remove — удаление товара из корзины;
            // purchase — покупка;
            pushStoreMetrika('impression', Array.from(document.querySelectorAll('[data-product-id]')).map(v => parseInt(v.dataset.productId)))
        })
    </script>

    {{ pagerfanta(pagination) }}
</div>
#}
