{# Start Price #}
{% if product.price.listPrice == product.price.price %}
    <span class="i-card__cost" itemprop="price" content={{ product.price.price }}>
            {{ product.price.price|number_format(0, ',', ' ') }} {{ product.price.currencySymbol }}
    </span>
{% else %}
    <span class="i-card__cost" itemprop="lowPrice" content={{ product.price.listPrice }}>
        {{ product.price.listPrice|number_format(0, ',', ' ') }} {{ product.price.currencySymbol }}
        <del class="i-card__oldcost" itemprop="highPrice" content={{ product.price.price }}>
            {{ product.price.price|number_format(0, ',', ' ') }} {{ product.price.currencySymbol }}
        </del>
    </span>
    <span class="i-card__sale">
        -{{ ((1- (product.price.listPrice / product.price.price)) * 100)|number_format(0, ',', ' ') }}%
    </span>
{% endif %}

<button type="button" class="split-trigger w-100 mb-4" data-modaltarget="modal-split">
    <div class="split-trigger__price">
        <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 9C0 4.03053 4.02855 0 8.99802 0H18.7143V18H8.99802C4.02855 18 0 13.9695 0 9Z" fill="#111827"/>
            <path d="M11.018 7.4025L10.9527 7.31358C14.2844 4.6238 13.9142 4.22367 13.9142 4.22367C13.5876 3.868 13.2392 3.55678 12.869 3.29003C12.3464 2.91213 11.7802 2.60091 11.1705 2.40085C8.64445 1.46721 5.63938 2.20078 3.83198 4.22367C1.41485 6.86899 1.3713 11.0704 3.8102 13.7602C6.37976 16.5833 10.7567 16.7611 13.5223 14.1603L13.5658 14.1158L13.6094 14.0714L13.6311 14.0491C13.6747 14.0047 13.7182 13.9602 13.74 13.9158C14.5239 12.8932 13.348 10.1145 11.018 7.4025ZM13.1521 13.4045C12.9779 13.5823 12.2375 13.6045 11.0398 12.9599C9.92923 12.3597 8.68801 11.3371 7.51211 10.0923C7.31612 10.2479 10.5825 7.6248 10.4301 7.75817C11.4535 8.95857 12.3246 10.2701 12.7819 11.3594C13.3263 12.6264 13.3045 13.2489 13.1521 13.4045Z" fill="white" fill-opacity="0.98"/>
        </svg>
        {{ (product.price.listPrice / 4) | number_format(2, ',', ' ') }} ₽
    </div>
    <span class="split-trigger__txt"> х 4 платежа без переплат</span>

    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.19687 11.194L8.388 7L4.19687 2.80601C3.85527 2.46418 3.85546 1.91016 4.19729 1.56857C4.53911 1.22698 5.09313 1.22717 5.43473 1.56899L10.2439 6.38149C10.5854 6.72315 10.5854 7.27685 10.2439 7.61851L5.43473 12.431C5.09313 12.7728 4.53911 12.773 4.19729 12.4314C3.85546 12.0898 3.85527 11.5358 4.19687 11.194Z" fill="#D1D5DB"/>
    </svg>
</button>
{# End Price #}