<div class="header__bottom">
    <div class="wrapper">
        <nav class="nav" itemscope itemtype="http://schema.org/SiteNavigationElement">

            <ul class="nav__list" itemprop="about" itemscope itemtype="http://schema.org/ItemList">

                {% for element in menu.header %}
                    {% if element.children is defined %}
                        <li class="nav__item menu-droper" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">

                            <a href="{{ element.href }}" class="nav__link" itemprop="url"><span itemprop="name">{{ element.name }}</span></a>
                            <meta itemprop="name" content={{ element.name }} />

                            <div class="menu">
                                <div class="wrapper">
                                    <div class="menu__content">
                                        <div class="menu__cols">
                                            {% for subMenu in element.children %}
                                                <div class="menu__col">
                                                    <div class="menu__title">{{ subMenu.name }}</div>

                                                    <ul class="menu__list" itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                                        {% if subMenu.children is defined %}
                                                            {% for item in subMenu.children %}
                                                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ItemList">
                                                                    <a href="{{ item.href }}" itemprop="url">
                                                                        {{ item.name }}
                                                                    </a>
                                                                    <meta itemprop="name" content={{ item.name }} />
                                                                </li>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </ul>

                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a href="#" class="menu__banner">
                                            <img class="b-lazy"
                                                src="{{ asset('./default/img/thumbnail/banner-menu.svg') }}"
                                                data-src="{{ asset('./default/img/banners/menu-banner.webp') }}"
                                                alt="banner menu"
                                                width="392" height="290"
                                            >
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                            <a href="{{ element.href }}" class="nav__link" itemprop="url">
                                {{ element.name }}
                            </a>
                            <meta itemprop="name" content={{ element.name }} />
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </nav>
    </div>
</div>