{% extends '..' %}
{% block title %}
    {{ 'cart.title' | trans }}
{% endblock %}
{% block description %}
    {{ 'cart.description' | trans }}
{% endblock %}
{% block body %}
    <section class="cart">
        <div class="wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Корзина</li>
                </ol>
            </nav>
            <div>
              {#  {{ cart.id }} --- userId: {{ user }} cart customerId: {{ cart.customerId }}<br>#}
            </div>
            <div id="cart-id"></div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('store_cart') }}
{% endblock %}