{% extends 'admin/base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="row g-2 align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                Store
            </div>
            <h2 class="page-title">
                Old Cart index
            </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
            </div>
        </div>
    </div>
    <div class="mt-2">
        <a class="btn btn-bitbucket" href="{{ path('store.cart.admin.index_old.remove') }}">
            remove
        </a>
    </div>

    <div class="card card-body mt-2">

        <table class="table">
            <thead>
            <tr>
                <th class="w-1">Id</th>
                <th class="w-1">Created At<br>Updated At </th>
                <th>Image</th>
                <th>Name</th>
                <th class="w-25">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for cart in pagination %}
                <tr>
                    <td>{{ cart.id }}</td>
                    <td>
                        {{ cart.createdAt | date('Y-m-d') }} <br>
                        {{ cart.updatedAt | date('Y-m-d') }}
                    </td>
                    <td>{{ cart.customerId }}</td>
                    <td><a href="{{ path('store.cart.admin.show', {'id': cart.id}) }}" class="btn btn-sm rounded-2">show</a></td>
                    <td></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
