{% set counter = 1 %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ path('home') }}">Главная</a>
            <meta itemprop="name" content="Главная" />
            <meta itemprop="position" content={{ counter }} />
        </li>

        {% for breadcrumb in breadcrumbs %}
            {% set counter = counter + 1 %}

            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="{{ path('store.category.show', {'slug': breadcrumb.slug}) }}">
                    {{ breadcrumb.name }}
                    <meta itemprop="name" content={{ breadcrumb.name }} />
                    <meta itemprop="position" content= {{ counter }}>
                </a>
            </li>

        {% endfor %}

        {% set counter = counter + 1 %}
        <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop='name'>{{ product.name }}</span>
            <meta itemprop="item" content={{ metaData.base_url ~ path('store.product.show', {'slug': product.slug}) }} />
            <meta itemprop="position" content= {{ counter }}>
        </li>
    </ol>
</nav>