
<div class="catalog-menu">
    <div class="container-xxl">
        <div class="d-flex d-md-none justify-content-between align-items-center py-4">
            <button class="catalog-menu__back" type="button"><img src="{{ asset('./pion/img/icons/back-arrow.svg') }}" alt="back-arrow" width="8" height="16"></button>
            <span class="catalog-menu__title mb-0">КАТАЛОГ</span>
            <button class="catalog-menu__close" type="button"><img src="{{ asset('./pion/img/icons/close.svg') }}" alt="close" width="24" height="24"></button>
        </div>
        <div class="d-block d-md-none">
            <div class="search">
                <div class="container">
                    <div class="search__content">
                        <button class="search__close" type="button"><img src="{{ asset('./pion/img/icons/close.svg') }}" alt="close"></button>
                        <div class="search__main mb-0 mb-md-5 d-flex d-md-block">
                            <form action="/search" method="get" class="search__form flex-grow-1 me-2">
                                <div class="flex-grow-1 me-0 me-md-3 w-field">
                                    <div class="w-field__main">
                                        <img src="{{ asset('./pion/img/icons/search.svg') }}" alt="search" width="24" height="24">
                                        <input name="param" id="param" type="text" class="search__inp w-field__inp" placeholder="Название, цвет или артикул">
                                    </div>
                                </div>
                                <button class="search__btn w-primary-btn" type="submit">НАЙТИ</button>
                            </form>
                            <button class="search__cancel text-decoration-underline d-none" type="button">Отменить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog-menu__cols">


            {% for menu_item in metaData.catalog_menu  %}

                <div class="catalog-menu__col">

                    {% if menu_item['is_list'] %}
                        {% for sub_menu in menu_item.items %}
                            <div class="catalog-menu__cell" >
                                <a href="{{ sub_menu.href }} {{ app.request.requestUri == sub_menu.href ? active : ''  }}" class="catalog-menu__title" itemprop="url">{{ sub_menu.name }}</a>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if menu_item['is_dropdown'] %}
                        <div class="catalog-menu__cell drop">
                            <a href="{{ menu_item['href'] }}" class="catalog-menu__title drop__trigger {{ str_contains(menu_item['href'],app.request.requestUri ) ? active : ''  }}">{{ menu_item['name'] }}</a>
                            <ul class="catalog-menu__list catalog-menu__list-bordered drop__content">
                                {% for sub_menu in menu_item.items %}
                                    <li class="catalog-menu__item">
                                        <a href="{{ sub_menu['href'] }}" class="catalog-menu__link {{ str_contains(menu_item['href'],app.request.requestUri ) ? active : ''  }}" itemprop="url">{{ sub_menu['name'] }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

            {% endfor %}

            <div class="catalog-menu__col d-none d-xl-block">
                <a href="#">
                <img src="{{ asset('./pion/img/rectangle-15.jpg') }}" alt="ads">
                </a>
            </div>

            <button class="catalog-menu__close d-none d-md-block" type="button"><img src="{{ asset('./pion/img/icons/close.svg') }}" alt="close" width="24" height="24"></button>
        </div>

    </div>
</div>