<div class="catalog-menu">
    <div class="container-xxl">
        <div class="d-flex d-md-none justify-content-between align-items-center py-4">
            <button class="catalog-menu__back" type="button"><img src="{{ asset('./img/icons/back-arrow.svg') }}" alt="back-arrow" width="8" height="16"></button>
            <span class="catalog-menu__title mb-0">КАТАЛОГ</span>
            <button class="catalog-menu__close" type="button"><img src="{{ asset('./img/icons/close.svg') }}" alt="close" width="24" height="24"></button>
        </div>
        <div class="d-block d-md-none">
            <div class="search">
                <div class="container">
                    <div class="search__content">
                        <button class="search__close" type="button"><img src="{{ asset('') }}./img/icons/close.svg" alt=""></button>

                        <div class="search__main mb-0 mb-md-5 d-flex d-md-block">
                            <form class="search__form flex-grow-1 me-2">
                                <div class="flex-grow-1 me-0 me-md-3 w-field">
                                    <div class="w-field__main">
                                        <img src="{{ asset('./img/icons/search.svg') }}" alt="search" width="24" height="24">
                                        <input type="text" class="search__inp w-field__inp" placeholder="Название, цвет или артикул">
                                    </div>
                                </div>
                                <button class="search__btn w-primary-btn" type="submit">НАЙТИ</button>
                            </form>
                            <button class="search__cancel text-decoration-underline d-none" type="button">Отменить</button>
                        </div>
                        <div class="search__bottom position-relative pt-md-0 pt-3">
                            <div class="row flex-grow-1">
                                <div class="col col-12 col-md-6 order-2">
                                    <span class="d-block title-lg mb-1 mb-md-3 fw-bold">ПОПУЛЯРНЫЕ ЗАПРОСЫ</span>
                                    <div class="search__queries">
                                        <a href="#" class="search__query">
                                            <img src="{{ asset('./pion/img/icons/search.svg') }}" alt="" width="24" height="24">
                                            love
                                        </a>
                                        <a href="#" class="search__query">
                                            <img src="{{ asset('./pion/img/icons/search.svg') }}" alt="" width="24" height="24">
                                            боди
                                        </a>
                                        <a href="#" class="search__query">
                                            <img src="{{ asset('./pion/img/icons/search.svg') }}" alt="" width="24" height="24">
                                            велосипедки
                                        </a>
                                        <a href="#" class="search__query">
                                            <img src="{{ asset('./pion/img/icons/search.svg') }}" alt="" width="24" height="24">
                                            шорты
                                        </a>
                                    </div>
                                </div>
                                <div class="col col-12 col-md-6 order-1 mb-2 mb-md-0">
                                    <span class="d-block title-lg mb-1 mb-md-3 fw-bold">ВЫ ИСКАЛИ</span>
                                    <div class="search__queries">
                                        <a href="#" class="search__query">
                                            Одежда
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <button class="search__clear" type="button">Очистить</button>
                        </div>
                        <div class="search__result">
                            <div class="search__queries">
                                <a href="#" class="search__query">
                                    <img src="{{ asset('./pion/img/icons/search.svg') }}" alt="" width="24" height="24">
                                    love
                                </a>
                                <a href="#" class="search__query">
                                    <img src="{{ asset('./pion/img/icons/search.svg') }}" alt="" width="24" height="24">
                                    боди
                                </a>
                                <a href="#" class="search__query">
                                    <img src="{{ asset('./pion/img/icons/search.svg') }}" alt="" width="24" height="24">
                                    велосипедки
                                </a>
                                <a href="#" class="search__query">
                                    <img src="{{ asset('./pion/img/icons/search.svg') }}" alt="" width="24" height="24">
                                    шорты
                                </a>
                            </div>
                            <a href="#" class="mt-4 d-inline-block text-decoration-underline text-uppercase text-lg">Смотреть результаты (50)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog-menu__cols">

            <div class="catalog-menu__col" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <div class="catalog-menu__cell">
                    <a href="https://womjoy.ru/collections/sellout-117" class="catalog-menu__title" itemprop="url">SALE</a>
                </div>
                <div class="catalog-menu__cell">
                    <a href="https://womjoy.ru/collections/novinki-dlya-zhenshchin-115" class="catalog-menu__title" itemprop="url">НОВИНКИ</a>
                </div>
                <div class="catalog-menu__cell">
                    <a href="https://womjoy.ru/collections/skoro-v-prodazhe-118" class="catalog-menu__title" itemprop="url">СКОРО В ПРОДАЖЕ</a>
                </div>
                <div class="catalog-menu__cell">
                    <a href="https://womjoy.ru/collections/podarochnye-sertefikaty-140" class="catalog-menu__title" itemprop="url">ПОДАРОЧНЫЕ СЕРТИФИКАТЫ</a>
                </div>
                <div class="catalog-menu__cell">
                    <a href="https://womjoy.ru/collections/podarochnaya-upakovka-141" class="catalog-menu__title" itemprop="url">ПОДАРОЧНАЯ УПАКОВКА</a>
                </div>
            </div>


            <div class="catalog-menu__col">
                <div class="catalog-menu__cell drop">
                    <a href="https://womjoy.ru/collections/zhenskaya-odezhda" class="catalog-menu__title drop__trigger">ОДЕЖДА</a>
                    <ul class="catalog-menu__list catalog-menu__list-bordered drop__content" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <li class="catalog-menu__item">
                            <a href="https://womjoy.ru/collections/bryuki-108" class="catalog-menu__link" itemprop="url">Брюки</a>
                        </li>

                        <li class="catalog-menu__item">
                            <a href="https://womjoy.ru/collections/zhenskie-vodolazki-i-longslivy-142" class="catalog-menu__link" itemprop="url">Водолазки и лонгсливы</a>
                        </li>

                        <li class="catalog-menu__item">
                            <a href="https://womjoy.ru/collections/zhenskie-mayki-135" class="catalog-menu__link" itemprop="url">Майки</a>
                        </li>

                        <li class="catalog-menu__item">
                            <a href="https://womjoy.ru/collections/rashgard-zhenskiy-112" class="catalog-menu__link" itemprop="url">Рашгарды</a>
                        </li>

                        <li class="catalog-menu__item">
                            <a href="https://womjoy.ru/collections/rubashki-zhenskie-143" class="catalog-menu__link" itemprop="url">Рубашки</a>
                        </li>

                        <li class="catalog-menu__item">
                            <a href="https://womjoy.ru/collections/zhenskie-tolstovki-i-svitshot-139" class="catalog-menu__link" itemprop="url">Толстовки и свитшоты</a>
                        </li>

                        <li class="catalog-menu__item">
                            <a href="https://womjoy.ru/collections/zhenskie-topy-136" class="catalog-menu__link" itemprop="url">Топы и кроп-топы</a>
                        </li>

                        <li class="catalog-menu__item">
                            <a href="https://womjoy.ru/collections/zhenskie-futbolki-134" class="catalog-menu__link" itemprop="url">Футболки</a>
                        </li>

                        <li class="catalog-menu__item">
                            <a href="https://womjoy.ru/collections/zhenskie-shorty-114" class="catalog-menu__link" itemprop="url">Шорты</a>
                        </li>
                    </ul>
                </div>


            </div>

            <div class="catalog-menu__col" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <div class="catalog-menu__cell">
                    <a href="https://womjoy.ru/collections/odezhda-dlya-doma-121" class="catalog-menu__title" itemprop="url">ОДЕЖДА ДЛЯ ДОМА</a>
                </div>
                <div class="catalog-menu__cell">
                    <a href="https://womjoy.ru/collections/odezhda-dlya-sporta-120" class="catalog-menu__title" itemprop="url">ОДЕЖДА ДЛЯ СПОРТА</a>
                </div>
                <div class="catalog-menu__cell">
                    <a href="https://womjoy.ru/collections/legginsy-i-losiny-109" class="catalog-menu__title" itemprop="url">ЛЕГИНСЫ</a>
                </div>

                <div class="catalog-menu__cell">
                    <a href="https://womjoy.ru/collections/velosipedki-113" class="catalog-menu__title" itemprop="url">ВЕЛОСИПЕДКИ</a>
                </div>

                <div class="catalog-menu__cell">
                    <a href="#" class="catalog-menu__title" itemprop="url">АКСЕССУАРЫ</a>
                </div>
            </div>

            <div class="catalog-menu__col">
                <div class="catalog-menu__cell drop">

                    <a href="https://womjoy.ru/collections/zhenskaya-odezhda" class="catalog-menu__title drop__trigger">ПО КАПСУЛАМ</a>
                    <ul class="catalog-menu__list catalog-menu__list-bordered drop__content" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <li class="catalog-menu__item">
                            <a href="#" class="catalog-menu__link" itemprop="url">Pion</a>
                        </li>
                        <li class="catalog-menu__item">
                            <a href="#" class="catalog-menu__link" itemprop="url">Active</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="catalog-menu__col d-none d-xl-block">
                <img src="{{ asset('./pion/img/menu-ad.webp') }}" alt="ads">
            </div>

            <button class="catalog-menu__close d-none d-md-block" type="button"><img src="{{ asset('./pion/img/icons/close.svg') }}" alt="close" width="24" height="24"></button>
        </div>



    </div>
</div>