{% extends 'pion/store/base.html.twig' %}

{# Получение атрибутов текущего роута  #}
{% set _route = app.request.attributes.get('_route') %}
{% set _route_params = app.request.attributes.get('_route_params') %}

{# Получаем GET параметр сортировки #}
{% set _current_sort = app.request.query.get('sort', 'popularity') %}

{#
{% block title %}
    {{ metaData.title }}{% if page not in '1' %}&nbsp;|&nbsp;{{ 'pagination.page' | trans}} {{ page }} {% endif %}
{% endblock %}
#}

{#
{% block description %}
    {{ metaData.description }}{% if page not in '1' %}&nbsp;|&nbsp;Page {{ page }} {% endif %}
{% endblock %}
#}

{#
{% block linkCanonical %}
    <link rel="canonical" href= "https:{{  url('store.category.show', {'slug': category.slug}, true)}}">
{% endblock %}
#}

{#
{% block jsonLd %}
    {{ metaData.jsonLdBreadcrumb|raw }}
{% endblock %}
#}

{% block header %}
    {% include 'pion/store/common/header.html.twig' %}
{% endblock %}

{% block body %}

    <div class="container-xxl">
        <div class="breadcrumbs">
            <a href="{{ path('home') }}" class="breadcrumbs__item">Главная</a>
            <div class="breadcrumbs__current"> {{ 'store.search' | trans }}</div>
        </div>

        <section class="catalog section mt-5">

            {% if pagination.count > 0 %}
            <h1 class="mb-3 text-center text-uppercase">
                {#{{ category.seoMetadata.h1 }}#}
                {{ param }}
            </h1>

            <div class="row mb-5 g-2 g-md-3">


                {% set number=1 %}
                {% for item in pagination %}

                    <div class="col col-6 col-md-4 col-lg-3 mb-4">
                        {% include 'pion/store/common/product/product_item.html.twig' %}
                        {% set number=number+1 %}
                    </div>
                {% endfor%}



            </div>

            {% else %}
                <h1 class="mb-3 text-center text-uppercase">
                    {#{{ category.seoMetadata.h1 }}#}
                    По данному запросу нечего не найдено: <br>" {{ param }} "
                </h1>


                <div class="container-xxl mt-4">
                    <section class="catalog section">
                        <h2 class="mb-4">{{ 'home.new.arrivals' | trans }}</h2>
                        <div class="row mb-5 g-2 g-md-4">
                            {% for item in popularity %}
                                <div class="col col-6 col-md-4 col-lg-3 mb-4">
                                    {#<div class="card">#}
                                    {#{% include 'default/store/common/product/item_product_card.html.twig' %}#}
                                    {% include 'pion/store/common/product/product_item.html.twig' %}
                                    {#</div>#}
                                </div>
                            {% endfor %}

                        </div>
                    </section>
                </div>



            {% endif %}

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // Доступные события:
                    //
                    // impression — просмотр списка товаров;
                    // detail — просмотр товара;
                    // add — добавление товара в корзину;
                    // remove — удаление товара из корзины;
                    // purchase — покупка;
                    pushStoreMetrika('impression', Array.from(document.querySelectorAll('[data-product-id]')).map(v => parseInt(v.dataset.productId)))
                })
            </script>

           {# {{ pagerfanta(pagination) }}#}
        </section>

        <section class="text section">

        </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('store_category') }}
{% endblock %}