{% extends 'admin/base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <div class="row g-2 align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                Store
            </div>
            <h2 class="page-title">
                Product images
            </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
            </div>
        </div>
    </div>
    <div class="mt-3 mb-3">
        <a class="btn btn-bitbucket" href="{{ path('store.admin.product.index') }}">Back to list</a>
    </div>
    <div class="card card">
        <div class="card-header">
            {{ include('store/admin/product/_tabs.html.twig') }}
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col m-2">
                    {{ form_start(form) }}

                    {{ form_row(form.files, { 'attr': {'class': 'form-control'}}) }}
                    <button type="submit" class="btn btn-bitbucket mt-3">Upload</button>
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="row row-cols-5 mb-3 g-2 mt-5">
                {% for image in product.images %}
                    <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <p>sort <strong>{{ image.sort }}</strong></p>
                        </div>
                        <img src=" {{ storage_path(image.path~'/'~image.name) }}">
                        <div class="card-footer p-0 mt-2">
                            <div class="btn-group w-100" role="group">
                                <a href="{{ path('store.admin.product.image.up',{'product_id': product.id, 'sort': image.sort}) }}" class="btn btn-bitbucket"><span class="fa fa-arrow-left"></span></a>
                                <a href="{{ path('store.admin.product.image.remove',{'product_id': product.id, 'image_id': image.id}) }}" class="btn btn-danger"><span class="fa fa-trash"></span></a>
                                <a href="{{ path('store.admin.product.image.down',{'product_id': product.id, 'sort': image.sort}) }}" class="btn btn-bitbucket"><span class="fa fa-arrow-right"></span></a>
                                {#<button type="button" class="btn btn-primary"><span class="fa fa-arrow-left"></span></button>
                                <a href="{{ path('store.admin.product.image.delete',{'id': product.id, 'image_id': image.id}) }}">
                                <button type="button" class="btn btn-danger">
                                    <span class="fa fa-trash"></span>
                                </button>
                                </a>
                                <button type="button" class="btn btn-primary"><span class="fa fa-arrow-right"></span></button>#}
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
