{% extends 'store/base.html.twig' %}
{% block openGraph %}
    <meta property="og:type" content="website"/>
    <meta property="og:url" content= "https://womjoy.ru" />
    <meta property="og:title" content="{{ metaData.title }}"/>
    <meta property="og:description" content="{{ metaData.description }} "/>
    <meta property="og:image" content="{{ asset('./img/womjoy.svg') }}"/>
    <meta property="og:site_name" content="WOMJOY" />
{% endblock %}
{% block body %}

    <section class="hero">
        <div class="wrapper">
            <div class="hero__slider">
                <div class="hero-swiper swiper">
                    <div class="swiper-wrapper">
                        <a href="#" class="hero__slide swiper-slide">
							<span class="hero__slide_img">
								<picture>
									<source srcset="{{ asset('./img/banners/hero-lg-mob.webp') }}" media="(max-width: 480px)">
									<img src="{{ asset('./img/banners/hero-lg.webp') }}" alt="hero lg" width="1216" height="460">
								</picture>
							</span>
                        </a>
                        <a href="#" class="hero__slide swiper-slide">
							<span class="hero__slide_img">
								<picture>
									<source srcset="{{ asset('./img/banners/hero-lg-mob.webp') }}" media="(max-width: 480px)">
									<img src="{{ asset('./img/banners/hero-lg.webp') }}" alt="hero lg" width="1216" height="460">
								</picture>
							</span>
                        </a>
                        <a href="#" class="hero__slide swiper-slide">
							<span class="hero__slide_img">
								<picture>
									<source srcset="{{ asset('./img/banners/hero-lg-mob.webp') }}" media="(max-width: 480px)">
									<img src="{{ asset('./img/banners/hero-lg.webp') }}" alt="hero lg" width="1216" height="460">
								</picture>
							</span>
                        </a>
                        <a href="#" class="hero__slide swiper-slide">
							<span class="hero__slide_img">
								<picture>
									<source srcset="{{ asset('./img/banners/hero-lg-mob.webp') }}" media="(max-width: 480px)">
									<img src="{{ asset('./img/banners/hero-lg.webp') }}" alt="hero lg" width="1216" height="460">
								</picture>
							</span>
                        </a>
                    </div>
                </div>
                <div class="hero-pagination"></div>
            </div>

            <div class="hero__banners">
                <a href="#" class="hero__banner">
					<span class="hero__banner_img">
						<picture>
							<source srcset="{{ asset('./img/banners/hero-sm-1-mob.webp') }}" media="(max-width: 480px)">
							<img src="{{ asset('./img/banners/hero-sm-1.webp') }}" alt="hero sm" width="598" height="150">
						</picture>
					</span>
                </a>
                <a href="#" class="hero__banner">
					<span class="hero__banner_img">
						<picture>
							<source srcset="{{ asset('./img/banners/hero-sm-2-mob.webp') }}" media="(max-width: 480px)">
							<img src="{{ asset('./img/banners/hero-sm-2.webp') }}" alt="hero sm" width="598" height="150">
						</picture>
					</span>
                </a>
            </div>
        </div>
    </section>

    <section class="cat section">
        <div class="wrapper">
            <div class="section-top">
                <h2 class="section-title">Категории</h2>
            </div>

            <div class="cat__items">
                {% for category in categories %}
                <a href="{{ category.href }}" class="cat__item cat__item-lg">
                    <div class="cat__text">
                        <span class="cat__name">{{ category.name }}</span>
                        <div class="cat__bottom">
                            <span class="cat__cnt">15 моделей</span>
                            <span class="cat__price">от 1 799 ₽</span>
                        </div>
                    </div>
                    <img src="{{ storage_path( category.imagePath ) }}" alt="{{ category.name }}" class="cat__img" width="250" height="250">
                </a>
                {% endfor %}
                <div class="cat__item cat__sale">
                    <span class="cat__sale_alert">%</span>
                    <span class="cat__sale_name">Распродажа</span>
                </div>
            </div>
        </div>
    </section>

    <section class="products section">
        <div class="wrapper">
            <div class="section-top">
                <h2 class="section-title">Новинки</h2>
                <a href="#" class="section-checkall">
                    Смотреть все
                    <img src="{{ asset('./img/icons/green-arrow-right.svg') }}" alt="green arrow right" width="24" height="24">
                </a>
            </div>

            <div class="products__slider">
                <div class="products-swiper swiper">
                    <div class="swiper-wrapper">
                        {% for product in newItems %}
                            <div class="product swiper-slide">
                                <a href="{{ path('store.product.show',{'slug': product.slug} ) }}">
                                    <div class="product__img">
                                    <div class="product__img_slider swiper">
                                        <div class="swiper-wrapper">
                                            {% if product.images.count > 0 %}

                                                {% set file = product.images.first %}
                                                <div class="product__img_slide swiper-slide active">
                                                    <img loading="lazy" src=" {{ thumbnail_path(file.path, file.name~'.webp', 390, 520 ) }}" alt="{{ product.name }}" width="289" height="384">
                                                </div>

                                            {% else %}
                                                <div class="product__img_slide swiper-slide active">
                                                    <img src="{{ asset('./img/products/img-1.webp') }}" alt="Thumbnail loading" width="289" height="384">
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                                </a>
                                <div class="product__row">
                                    {% if product.price.listPrice == 0 %}
                                        <span class="product__cost">{{ product.price.price|number_format(0, ',', ' ')}} р.</span>
                                    {% else %}
                                        <span class="product__cost">{{ product.price.listPrice|number_format(0, ',', ' ') }} р.</span>
                                        <del class="product__old">{{ product.price.price|number_format(0, ',', ' ') }} р.</del>
                                        <span class="product__sale">
                                            -{{ ((product.price.listPrice / product.price.price) * 100)|number_format(0, ',', ' ') }}%
                                        </span>
                                    {% endif %}
                                </div>
                                <p class="product__name">{{ product.name }}</p>
                                <ul class="product__colors">
                                    <li><a href="#" style="background-color: #9EDFE5;"></a></li>
                                    <li><a href="#" style="background-color: #6E72A8;"></a></li>
                                    <li><a href="#" style="background-color: #3740B4;"></a></li>
                                    <li><a href="#" style="background-color: #A8AAB6;"></a></li>
                                    <li><a href="#" style="background-color: #27262C;"></a></li>
                                </ul>
                                <div class="product__hidden">
                                    <button class="product__addtocart btn-primary" type="button">
                                        <img src="{{ asset('./img/icons/cart.svg') }}" alt="cart" width="20" height="20">
                                        В корзину
                                    </button>
                                    <div class="product__sizes">Размеры: XS S M L</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="slider-btn-prev" type="button"><img src="{{ asset('./img/icons/arrow-left.svg') }}" alt="arrow left" width="24" height="24"></button>
                    <button class="slider-btn-next" type="button"><img src="{{ asset('./img/icons/arrow-right.svg') }}" alt="arrow right" width="24" height="24"></button>
                </div>
            </div>
        </div>
    </section>

    <section class="support section">
        <div class="wrapper">
            <div class="support__content">
                <h2 class="support__title section-title">Служба поддержки покупателей</h2>
                <div class="support__text">
                    <a href="#" class="support__call">8 (800) 301-67-53</a>
                    <span class="support__descr">Звонок по РФ бесплатный</span>
                </div>

                <img src="{{ asset('./img/icons/support-bg.svg') }}" alt="support bg" class="support__img" width="346" height="170">
            </div>
        </div>
    </section>

    <section class="products section">
        <div class="wrapper">
            <div class="section-top">
                <h2 class="section-title">Популярное</h2>
                <a href="#" class="section-checkall">
                    Смотреть все
                    <img src="{{ asset('./img/icons/green-arrow-right.svg') }}" alt="green arrow right" width="24" height="24">
                </a>
            </div>

            <div class="products__items products-4">
                {% for product in popularity %}

                    <div class="product">
                        <a href="{{ path('store.product.show',{'slug': product.slug} ) }}">
                            <div class="product__img">
                                <div class="product__img_slider swiper">
                                    <div class="swiper-wrapper">
                                        {% if product.images.count > 0 %}

                                            {% set file = product.images.first %}
                                            <div class="product__img_slide swiper-slide active">
                                                <img loading="lazy" src=" {{ thumbnail_path(file.path, file.name~'.webp', 390, 520 ) }}" alt="{{ product.name }}" width="289" height="384">
                                            </div>

                                        {% else %}
                                            <div class="product__img_slide swiper-slide active">
                                                <img src="{{ asset('./img/products/img-1.webp') }}" alt="thumbnail loading" width="289" height="384">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="product__row">
                            {% if product.price.listPrice == 0 %}
                                <span class="product__cost">{{ product.price.price|number_format(0, ',', ' ')}} р.</span>
                            {% else %}

                                <span class="product__cost">{{ product.price.listPrice|number_format(0, ',', ' ') }} р.</span>
                                <del class="product__old">{{ product.price.price|number_format(0, ',', ' ') }} р.</del>
                                <span class="product__sale">
                                    -{{ ((product.price.listPrice / product.price.price) * 100)|number_format(0, ',', ' ') }}%
                                </span>
                            {% endif %}
                        </div>
                        <p class="product__name">{{ product.name }}</p>
                        <ul class="product__colors">
                            <li><a href="#" style="background-color: #9EDFE5;"></a></li>
                            <li><a href="#" style="background-color: #6E72A8;"></a></li>
                            <li><a href="#" style="background-color: #3740B4;"></a></li>
                            <li><a href="#" style="background-color: #A8AAB6;"></a></li>
                            <li><a href="#" style="background-color: #27262C;"></a></li>
                        </ul>
                        <div class="product__hidden">
                            <button class="product__addtocart btn-primary" type="button">
                                <img src="{{ asset('./img/icons/cart.svg') }}" alt="cart" width="20" height="20">
                                В корзину
                            </button>
                            <div class="product__sizes">Размеры: XS S M L</div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{# deprecated - remove
    <section class="subscribe section">
        <div class="wrapper">
            <div class="subscribe__content">
                <div class="subscribe__text">
                    <h2 class="subscribe__title section-title">Выгода с доставкой</h2>
                    <p class="subscribe__descr">Подпишитесь и получайте промокоды, акции и подборки товаров</p>
                </div>
                <form class="subscribe__form">
                    <div class="subscribe__field field">
                        <span class="field__ph">Электронная почта</span>
                        <input type="text" class="field__inp" value="email@example.com">
                    </div>
                    <button class="subscribe__btn btn-primary" type="submit">Подписаться</button>
                </form>
            </div>
        </div>
    </section>
#}

    <div id="subscriber_id"></div>

    <section class="seo section">
        <div class="wrapper">
            <div class="section-top">
                <h1 class="section-title">Интернет магазин Womjoy одежда для фитнеса</h1>
            </div>
            <p>
                Добро пожаловать на официальный сайт бренда женской одежды WOMJOY! Мы с гордостью представляем нашу коллекцию современной спортивной женской одежды, которая сочетает в себе стиль, комфорт и высокое качество.
            </p>
            <p>
                WOMJOY был создан в 2019 году с целью разработки и производства женской одежды, которая отвечает потребностям современной активной женщины. Мы уделяем большое внимание каждой детали и внимательно тестируем все наши изделия, чтобы убедиться в их высокой производительности и удобстве.
            </p>
            <p>
                Наш ассортимент включает в себя леггинсы, тайтсы, рашгарды, лонгсливы, велосипедки, шорты и футболки. Мы предлагаем разнообразие стилей, чтобы каждая женщина могла найти идеальную одежду для своих потребностей - будь то занятия спортом, фитнес, активный отдых или просто комфортная одежда для дома.
            </p>
            <p>
                Основные принципы, которыми мы руководствуемся при создании нашей одежды, - это классика и лаконичность дизайна, а также эргономичность. Мы стремимся к тому, чтобы наша одежда подчеркивала вашу индивидуальность и при этом была максимально функциональной и удобной.
            </p>
            <p>
                Прочность и долговечность - еще одни важные аспекты, на которые мы обращаем особое внимание. Мы используем только высококачественные материалы и тщательно подбираем каждую деталь, чтобы гарантировать долгий срок службы нашей одежды.
            </p>
            <p>
                На нашем сайте вы найдете полную информацию о нашей коллекции, включая описания продуктов, фотографии и доступные размеры. Мы гарантируем безопасную и удобную покупку с доставкой прямо к вам домой.
            </p>
            <p>
                Присоединяйтесь к WOMJOY и наслаждайтесь непревзойденным комфортом, стилем и качеством в каждой нашей вещи. Мы гордимся тем, что создаем одежду, которая делает вашу активную жизнь еще более яркой и приятной.
            </p>
        </div>
    </section>

{% endblock %}
    {% block javascripts %}
         {{ parent() }}
         {{ encore_entry_script_tags('subscriber') }}
       {# <script src="{{ asset('./libs/swiper/swiper.min.js') }}"></script>
        <script src="{{ asset('./js/script.js') }}"></script>#}
    {% endblock %}