{% extends 'pion/store/base.html.twig' %}

{# Получение атрибутов текущего роута  #}
{% set _route = app.request.attributes.get('_route') %}
{% set _route_params = app.request.attributes.get('_route_params') %}

{# Получаем GET параметр сортировки #}
{% set _current_sort = app.request.query.get('sort', 'popularity') %}

{% block title %}
    {{ metaData.title }}{% if page not in '1' %}&nbsp;|&nbsp;{{ 'pagination.page' | trans}} {{ page }} {% endif %}
{% endblock %}
{% block description %}
    {{ metaData.description }}{% if page not in '1' %}&nbsp;|&nbsp;Page {{ page }} {% endif %}
{% endblock %}

{% block linkCanonical %}
    <link rel="canonical" href= "https:{{  url('store.category.show', {'slug': category.slug}, true)}}">
{% endblock %}
{% block jsonLd %}
    {{ metaData.jsonLdBreadcrumb|raw }}
{% endblock %}

{% block header %}
    {% include 'pion/store/common/header.html.twig' %}
{% endblock %}

{% block body %}

<div class="container-xxl">
    <div class="breadcrumbs">
        <a href="{{ path('home') }}" class="breadcrumbs__item">Главная</a>

        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.slug == category.slug %}
                <div class="breadcrumbs__current">{{ breadcrumb.name }}</div>
            {% else %}
                <a href="{{ path('store.category.show', {'slug': breadcrumb.slug}) }}" class="breadcrumbs__item">{{ breadcrumb.name }}</a>
            {% endif %}
        {% endfor %}

    </div>

    <section class="catalog section">
        <h1 class="mb-3 text-center text-uppercase h3">
            {{ category.seoMetadata.h1 }}
            <span class="catalog__cnt"> {{ pagination.count }}</span>
        </h1>

        <ul class="catalog__tags">
            {% for item in category.menu.value %}
                {% if app.request.requestUri == item.href %}
                    <li><a class="active">{{ item.name }}</a></li>
                {% else %}
                    <li><a href="{{ item.href }}">{{ item.name }}</a></li>
                {% endif %}

            {% endfor %}
        </ul>

        {% include "pion/store/category/_filter.html.twig" %}



        <div class="row mb-5 g-2 g-md-3">

            {% set number=1 %}
            {% for item in pagination %}

                <div class="col col-6 col-md-4 col-lg-3 mb-4">
                    {% include 'pion/store/common/product/product_item.html.twig' %}
                    {% set number=number+1 %}
                </div>
            {% endfor%}

        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Доступные события:
                //
                // impression — просмотр списка товаров;
                // detail — просмотр товара;
                // add — добавление товара в корзину;
                // remove — удаление товара из корзины;
                // purchase — покупка;
                pushStoreMetrika('impression', Array.from(document.querySelectorAll('[data-product-id]')).map(v => parseInt(v.dataset.productId)))
            })
        </script>

        {{ pagerfanta(pagination) }}
    </section>

    <section class="text section">

    </section>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('store_category') }}
{% endblock %}