{% extends 'pion/store/base.html.twig' %}
{#{% block linkCanonical %}
    <link rel="canonical" href= "https:{{  url('page.page.show', {'slug': page.slug}, true)}}">
{% endblock %}#}


{% block body %}


    <div class="container-xxl">
        <div class="breadcrumbs">
            <a href="{{ path('home') }}" class="breadcrumbs__item">Главная</a>
            <div class="breadcrumbs__current">guarantee</div>
        </div>

        <section class="catalog w-section">
            <h1 class="mb-3 text-uppercase">Гарантия и 4-х недельный курс по фитнесу</h1>
            <h2>Заполните форму и получите расширенную гарантию до <br> 60 дней и 4-х недельный стартовый <br>курс по фитнесу с чек листом.</h2>



            {% for label, messages in app.flashes(['success', 'warning', 'danger', 'info']) %}
                {% for message in messages %}
                    {% if label == 'success' %}
                        <div class="mb-2">
                            <div class="p-3 bg-warning bg-opacity-10">{{ message }}</div>
                        </div>
                    {% endif %}
                    {% if label == 'danger' %}
                        <div class="mb-2">
                            <div class="p-3 bg-danger bg-opacity-10 text-danger">{{ message }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}


            <div class="card-body mt-4">
                <h5>
                    Заполните все поля и нажмите «Отправить», вам на почту придет письмо с крантией и ссылконй на курс.
                </h5>
                {{ form_start(form) }}

                {% if messageId == 'success' %}
                    <div class="col col-12 col-lg-12 mb-3">
                        <div class="p-3 bg-warning bg-opacity-10">Message success</div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="col-md-12 mb-3"> <button class="w-primary-btn">{{ button_label|default('Send') }}</button></div>

                    <p>
                        Нажимая на кнопку «Отправить», вы даете согласие на обработку и хранение своих персональных данных в соответствии с
                        <a class="w-black-link" href="https://womjoy.ru/pages/politika-konfidencialnosti">пользовательским соглашением</a>
                    </p>
                    {{ form_end(form) }}
                </div>

            </div>


            {#<div id="message-id" class="mt-8"></div>#}

        </section>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {# {{ encore_entry_script_tags('store_message') }}#}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
