{% extends 'store/base.html.twig' %}
{% block body %}
    <section class="guarant">
        <div class="wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Гарантия</li>
                </ol>
            </nav>
            <h1 class="guarant__title title-xl">Мы всегда здесь, чтобы помочь вам с вашими вопросами о гарантии!</h1>
            <div class="guarant__txt">
                <p>Если вы случайно не заметили какие-либо дефекты при примерке, не волнуйтесь! Мы с удовольствием поменяем или вернем вам товар в случае брака.</p>
                <p>И еще одно: если вы заметите, что цветные вещи начали линять после покупки, просто свяжитесь с нами, и мы решим эту проблему вместе.</p>
                <p>А если вдруг швы разойдутся после начала использования, не беспокойтесь! Просто дайте нам знать.</p>
            </div>

            <div class="g-form">
                <div class="g-form__title title-l">Напишите нам в гарантийный отдел</div>
                <p class="g-form__please">Пожалуйста, заполните форму ниже, и мы с радостью окажем вам помощь по вопросам, связанным с гарантией.</p>
                <div class="g-form__main">
                    {{ form_start(form) }}
                    {{ form_widget(form.message, {'attr': {'class': 'g-form__textarea'}}) }}

                    <label class="g-form__photo">
                        {{ form_widget(form.files,{'attr': {'hidden': true, 'multiple': true }}) }}
                        <span class="g-form__photo_main">
                                <img src="{{ asset('./img/icons/photo.svg') }}" alt="photo" width="24" height="24">
                            </span>
                        <span class="g-form__photo_descr">Прикрепите до 4 фотографий с дефектом</span>
                    </label>

                    <div class="g-form__row">
                        <div class="g-form__sel field field-sel">
                            <span class="field__ph">Место покупки</span>
                            <select class="field__sel">
                                <option value="">Ozon</option>
                                <option value="">Я. Маркет</option>
                                <option value="" selected>Wildberries</option>
                            </select>
                        </div>
                        <div class="g-form__field field">
                            <span class="field__ph">Электронная почта</span>
                            {{ form_widget(form.email,{'attr': {'class': 'field__inp' }}) }}
                            {#<input type="text" class="field__inp" value="email@example.com">#}
                        </div>
                        <div class="g-form__field field">
                            <span class="field__ph">Телефон</span>
                            {{ form_widget(form.phone,{'attr': {'class': 'field__inp phone-masked-field' }}) }}
                        </div>
                        <button class="g-form__submit btn-primary">{{ button_label|default('Отправить') }}</button>
                    </div>
                    <div class="g-form__checks">
                        <label class="g-form__check">
                            {{ form_widget(form.isConfirm,{'attr': {'hidden': true}}) }}
                            <span><img src="{{ asset('./img/icons/check-white.svg') }}" alt="check white"></span>
                            Согласен с условиями Правил пользования торговой площадкой
                        </label>
                        <label class="g-form__check">
                            <input type="checkbox" hidden checked>
                            {{ form_widget(form.isSubscribe,{'attr': {'hidden': true}}) }}
                            <span><img src="{{ asset('./img/icons/check-white.svg') }}" alt="check white"></span>
                            Подпишитесь и получайте промокоды, акции и подборки товаров
                        </label>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('./libs/swiper/swiper.min.js') }}"></script>
    <script src="{{ asset('./libs/inputmask.min.js') }}"></script>
    <script src="{{ asset('./js/script.js') }}"></script>
{% endblock %}