{# Desktop #}
<div class="hero__slider">
    <div class="hero-swiper swiper">
        <div class="swiper-wrapper">
            {% if heroSlider != null %}
                {% for item in heroSlider.items %}

                    {% if item.isShortBanner == false %}
                        <div class="hero__slide swiper-slide">
                            <a href="{{ item.url }}" class="big-banner">
                                <picture>
                                    <source srcset="{{ storage_path(item.patchMobileImage ~'/'~ item.nameMobileImage) }}" media="(max-width: 499px)">
                                    <source srcset="{{ storage_path(item.patchDesktopImage ~'/'~ item.nameDesktopImage) }}" media="(min-width: 500px)">
                                    <img src="{{ storage_path(item.patchDesktopImage ~'/'~ item.nameDesktopImage) }}" alt="{{ item.title }}" class="big-banner__img" width="1216" height="460">
                                </picture>

                                <div class="big-banner__text">
                                    <div class="big-banner__title">{{ item.title }}</div>
                                    <div class="big-banner__descr">{{ item.description}}</div>
                                    <button type="button" class="btn-primary">Смотреть товары</button>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="hero__slide swiper-slide">
                            <a href="#" class="big-banner-2">
                                <div class="big-banner-2__text">
                                    <div class="big-banner-2__title">{{ item.title }}</div>
                                    <div class="big-banner-2__descr">{{ item.description}}</div>
                                    <button type="button" class="btn-primary">Смотреть товары</button>
                                </div>
                                <picture>
                                    <source srcset="{{ storage_path(item.patchMobileImage ~'/'~ item.nameMobileImage) }}" media="(max-width: 499px)">
                                    <source srcset="{{ storage_path(item.patchDesktopImage ~'/'~ item.nameDesktopImage) }}" media="(min-width: 500px)">
                                    <img src="{{ storage_path(item.patchDesktopImage ~'/'~ item.nameDesktopImage) }}" alt="{{ item.title }}" class="big-banner__img" width="1216" height="460">
                                </picture>
                            </a>
                        </div>

                    {% endif %}

                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="hero-pagination"></div>
</div>
