{% extends 'store/base.html.twig' %}
{% block body %}
    <section class="i-card">
        <div class="wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item"><a href="{{ path('store.category.show', {'slug': breadcrumb.slug}) }}">{{ breadcrumb.name }}</a></li>
                    {% endfor %}
                    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                </ol>
            </nav>
            <div class="i-card__content">
                <div class="i-card__images">
                    <span class="i-card__sellout">Распродажа</span>
                    <a href="#" class="i-card__back">
                        <img src="{{ asset('./img/icons/arrow-left-tail.svg') }}" alt="arrow left tail" width="24" height="24">
                    </a>
                    <div class="i-card__slider">
                        <div class="i-card-swiper swiper">
                            <div class="swiper-wrapper">
                                {% for image in product.images %}
                                    <div class="i-card__slide swiper-slide">
                                        <div class="i-card__slide_img">
                                            <img src="{{ thumbnail_path(image.path, image.name~'.webp', 900, 1200 ) }}" alt="{{ product.name }} imageNumber N " width="598" height="798">
                                            {#<img src=" {{ thumbnail_path(file.path, file.name~'.webp', 300, 400 ) }}" alt="{{ product.name }}" width="289" height="384">#}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="i-card__smslider">
                        <div class="i-card-smswiper swiper">
                            <div class="swiper-wrapper">
                                {% for image in product.images %}
                                    <div class="i-card__smslide swiper-slide">
                                        <div class="i-card__smslide_img">
                                            <img src="{{ thumbnail_path(image.path, image.name~'.webp', 300, 400 ) }}" alt="" width="83" height="111">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="i-card__main">
                    <h1 class="i-card__title">{{ product.name }}</h1>
                    <div class="i-card__info">
                        <div class="rating">
                            <div class="rating__stars">
                                <img src="{{ asset('./img/icons/star-active.svg') }}" alt="star active" width="16" height="16">
                                <img src="{{ asset('./img/icons/star-active.svg') }}" alt="star active" width="16" height="16">
                                <img src="{{ asset('./img/icons/star-active.svg') }}" alt="star active" width="16" height="16">
                                <img src="{{ asset('./img/icons/star-active.svg') }}" alt="star active" width="16" height="16">
                                <img src="{{ asset('./img/icons/star.svg') }}" alt="star" width="16" height="16">
                            </div>
                            <span class="rating__crnt">25 отзывов</span>
                        </div>
                        <span class="i-card__id">Арт: {{ product.id }}</span>
                    </div>
                    <div class="i-card__size">
                        <div class="i-card__size_top">
                            <span class="gray">Размер</span>
                            <div class="i-card__size_table call-modal" data-target="card-sizes">
                                <img src="{{ asset('./img/icons/ruler.svg') }}" alt="" width="20" height="20">
                                Таблица размеров
                            </div>
                        </div>
                        <div class="i-card__size_items">
                            <label class="i-card__size_item">
                                <input type="radio" name="card-size" checked hidden>
                                <span class="i-card__size_visual">
									XS
									<span>40-42</span>
								</span>
                            </label>
                            <label class="i-card__size_item">
                                <input type="radio" name="card-size" hidden>
                                <span class="i-card__size_visual">
									XS
									<span>40-42</span>
								</span>
                            </label>
                            <label class="i-card__size_item disabled">
                                <input type="radio" name="card-size" hidden>
                                <span class="i-card__size_visual">
									XS
									<span>40-42</span>
								</span>
                            </label>
                            <label class="i-card__size_item">
                                <input type="radio" name="card-size" hidden>
                                <span class="i-card__size_visual">
									XS
									<span>40-42</span>
								</span>
                            </label>
                        </div>
                    </div>
                    <div class="i-card__color">
                        <span class="i-card__color_title">Цвет</span>
                        <div class="i-card__color_items">
                            <label class="i-card__color_item">
                                <input type="radio" name="card-color" checked hidden>
                                <span style="background-color: #9EDFE5;"></span>
                            </label>
                            <label class="i-card__color_item">
                                <input type="radio" name="card-color" hidden>
                                <span style="background-color: #6E72A8;"></span>
                            </label>
                            <label class="i-card__color_item">
                                <input type="radio" name="card-color" hidden>
                                <span style="background-color: #3740B4;"></span>
                            </label>
                            <label class="i-card__color_item">
                                <input type="radio" name="card-color" hidden>
                                <span style="background-color: #A8AAB6;"></span>
                            </label>
                        </div>
                    </div>
                    <div class="i-card__price">
                        {% if product.price.listPrice == 0 %}
                            <span class="i-card__cost">{{ product.price.price|number_format(0, ',', ' ') }} р.</span>
                        {% else %}
                            <span class="i-card__cost">{{ product.price.listPrice|number_format(0, ',', ' ') }} р.</span>
                            <del class="i-card__oldcost">{{ product.price.price|number_format(0, ',', ' ') }} р.</del>
                            <span class="i-card__sale">
                                -{{ ((product.price.listPrice / product.price.price) * 100)|number_format(0, ',', ' ') }}%
                            </span>
                        {% endif %}
                    </div>
                    <div class="i-card__btns">
                        <button id="add_to_cart_btn" class="i-card__greenbtn btn-primary call-modal" type="button" data-target="card-success">
                            <img src="{{ asset('./img/icons/cart.svg') }}" alt="add to cart" width="20" height="20">
                            В корзину
                        </button>
                        <button class="i-card__graybtn" type="button">
                            <img src="{{ asset('./img/icons/favourite.svg') }}" alt="add to favourite" width="20" height="20">
                            В избранное
                        </button>
                    </div>
                    {#   <div class="i-card__btns">
                        <button class="i-card__greenbtn btn-primary" type="button">
                            Оформить предзаказ
                        </button>
                        <button class="i-card__graybtn" type="button">
                            <img src="./img/icons/favourite.svg" alt="" width="20" height="20">
                            В избранное
                        </button>
                    </div>
                    <div class="i-card__btns">
                        <button class="i-card__greenbtn btn-primary call-modal" type="button" data-target="card-inform">
                            Сообщить о поступлении
                        </button>
                        <button class="i-card__graybtn" type="button">
                            <img src="./img/icons/favourite.svg" alt="" width="20" height="20">
                            В избранное
                        </button>
                    </div>#}
                    <div class="i-card__more">
                        <div class="i-card__delivery">
                            <img src="{{ asset('./img/icons/trace.svg') }}" alt="delivery" width="24" height="24">
                            Доставка 1-2 дня
                        </div>
                        <button class="i-card__mobfav" type="button">
                            <img src="{{ asset('./img/icons/favourite.svg') }}" alt="add to favourite" width="20" height="20">
                            В избранное
                        </button>
                    </div>

                    <div class="i-card__faq">
                        <div class="i-card__faq_item">
                            <div class="i-card__faq_ask">Описание</div>
                            <div class="i-card__faq_answer">
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                        <div class="i-card__faq_item">
                            <div class="i-card__faq_ask">Состав и уход</div>
                            <div class="i-card__faq_answer">
                                <p>Состав: полиэстер, эластан</p>
                                <ul class="i-card__faq_icons">
                                    <li><img src="{{ asset('./img/icons/card-faq-icon-1.svg') }}" alt="" width="32" height="32"></li>
                                    <li><img src="{{ asset('./img/icons/card-faq-icon-2.svg') }}" alt="" width="32" height="32"></li>
                                    <li><img src="{{ asset('./img/icons/card-faq-icon-3.svg') }}" alt="" width="32" height="32"></li>
                                    <li><img src="{{ asset('./img/icons/card-faq-icon-4.svg') }}" alt="" width="32" height="32"></li>
                                </ul>
                                <p>Бережная стирка при 30 градусах, отбеливание запрещено, глажка запрещена, химическая чистка запрещена</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#
        {% include 'store/product/recommendations.html.twig' %}
        #}

        {#
        {% include 'store/product/review.html.twig' %}
        #}

        <div class="modal" id="card-sizes">
            <div class="modal__bg"></div>
            <div class="modal__content">
                <button class="modal__close" type="button"><img src="{{ asset('./img/icons/close-black.svg') }}" alt="close black" width="24" height="24"></button>
                <div class="size-table">
                    <div class="size-table__titles">
                        <p class="size-table__title active">Подберите свой <br>точный размер</p>
                        <p class="size-table__title">Обмеры изделия</p>
                    </div>
                    <div class="size-table__tabs">
                        <div class="size-table__tab active">Таблица размеров</div>
                        <div class="size-table__tab">Обмеры изделия</div>
                    </div>
                    <div class="size-table__contents">
                        <div class="size-table__content active">
                            <p class="size-table__descr">Общая таблица размеров показывает нашу стандартную размерную линейку</p>
                            <div class="size-table__main">
                                <table class="size-table__choose">
                                    <thead>
                                    <tr>
                                        <th>INT</th>
                                        <th>RU</th>
                                        <th>Обхват груди</th>
                                        <th>Обхват талии</th>
                                        <th>Обхват бедер</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>XXS</td>
                                        <td>40</td>
                                        <td>80</td>
                                        <td>60</td>
                                        <td>88</td>
                                    </tr>
                                    <tr>
                                        <td>XS</td>
                                        <td>40</td>
                                        <td>80</td>
                                        <td>60</td>
                                        <td>88</td>
                                    </tr>
                                    <tr>
                                        <td>S</td>
                                        <td>40</td>
                                        <td>80</td>
                                        <td>60</td>
                                        <td>88</td>
                                    </tr>
                                    <tr>
                                        <td>M</td>
                                        <td>40</td>
                                        <td>80</td>
                                        <td>60</td>
                                        <td>88</td>
                                    </tr>
                                    <tr>
                                        <td>L</td>
                                        <td>40</td>
                                        <td>80</td>
                                        <td>60</td>
                                        <td>88</td>
                                    </tr>
                                    <tr>
                                        <td>XL</td>
                                        <td>40</td>
                                        <td>80</td>
                                        <td>60</td>
                                        <td>88</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="size-table__sm">*Все размеры указаны в см</p>
                        </div>
                        <div class="size-table__content">
                            <div class="size-table__main">
                                <table class="size-table__obmer">
                                    <thead>
                                    <tr>
                                        <th>Размер</th>
                                        <th>XS</th>
                                        <th>S</th>
                                        <th>M</th>
                                        <th>L</th>
                                        <th>XL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Длина по спинке</td>
                                        <td>120</td>
                                        <td>124</td>
                                        <td>125</td>
                                        <td>126</td>
                                        <td>127</td>
                                    </tr>
                                    <tr>
                                        <td>Длина под проймой</td>
                                        <td>120</td>
                                        <td>124</td>
                                        <td>125</td>
                                        <td>126</td>
                                        <td>127</td>
                                    </tr>
                                    <tr>
                                        <td>Обхват по бёдрам</td>
                                        <td>120</td>
                                        <td>124</td>
                                        <td>125</td>
                                        <td>126</td>
                                        <td>127</td>
                                    </tr>
                                    <tr>
                                        <td>Длина рукава с плечом</td>
                                        <td>120</td>
                                        <td>124</td>
                                        <td>125</td>
                                        <td>126</td>
                                        <td>127</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="size-table__sm">*Все размеры указаны в см</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal modal-dark" id="card-inform">
            <div class="modal__bg"></div>
            <div class="modal__content">
                <button class="modal__close" type="button"><img src="{{ asset('./img/icons/close-white.svg') }}" alt="close white" width="24" height="24"></button>
                <div class="inform">
                    <div class="inform__top">
                        <p class="inform__title">Будем держать в курсе</p>
                        <p class="inform__descr">Как только товар появится в продаже, мы сразу сообщим</p>
                    </div>
                    <form class="inform__form">
                        <div class="inform__form_row">
                            <div class="inform__field field">
                                <span class="field__ph">Электронная почта</span>
                                <input type="text" class="field__inp" value="email@example.com">
                            </div>
                            <button class="inform__submit btn-primary" type="submit">Подписаться</button>
                        </div>
                        <label class="inform__check">
                            <input type="checkbox" checked hidden>
                            <span class="inform__check_sq">
                            <img src="{{ asset('./img/icons/check-black.svg') }}" alt="check black" width="18" height="18">
                        </span>
                            Согласен с условиями Правил пользования торговой площадкой
                        </label>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('store_product') }}
{% endblock %}