{% extends 'pion/store/base.html.twig' %}
{% block openGraph %}
    <meta property="og:type" content="website"/>
    <meta property="og:url" content= {{ metaData.base_url }} />
    <meta property="og:title" content="{{ metaData.title }}"/>
    <meta property="og:description" content="{{ metaData.description }} "/>
    <meta property="og:image" content="{{ asset('./default/img/womjoy.svg') }}"/> {# Необходимо добавить ссылку на хранилище статики #}
    <meta property="og:site_name" content="WOMJOY" />
{% endblock %}

{% block linkCanonical %}
    <link rel="canonical" href= "https:{{  url('home',{},true) }}">
{% endblock %}

{% block header %}
    {% include 'pion/store/common/header_home.html.twig' %}
{% endblock %}

{% block body %}

    <section class="hero">
        <div class="hero__slider">
            <div class="hero-swiper swiper">
                <div class="swiper-wrapper">

                    <div class="hero__slide swiper-slide">
                        <picture>
                            <source srcset="{{ asset('./pion/img/hero-slider/Mobil-600-900-1.jpg') }}" media="(max-width: 768px)">
                            <source srcset="{{ asset('./pion/img/hero-slider/Desctop-1920-910-1.jpg') }}" media="(min-width: 769px)">
                            <img src="{{ asset('./pion/img/hero-slider/Desctop-1920-910-1.jpg') }}" alt="Одежда для дома">
                        </picture>
                        <div class="hero__text">
                            {#<div class="hero__title">Одежда для дома</div>#}
                            <div class="text-white mb-2 h1">Одежда для дома</div>
                            <a href="https://womjoy.ru/collections/odezhda-dlya-doma-121" class="w-white-btn">Посмотреть</a>
                        </div>
                    </div>

                    <div class="hero__slide swiper-slide">
                        <picture>
                            <source srcset="{{ asset('./pion/img/hero-slider/Mobil-600-900-2.jpg') }}" media="(max-width: 768px)">
                            <source srcset="{{ asset('./pion/img/hero-slider/Desctop-1920-910-2.jpg') }}" media="(min-width: 769px)">
                            <img src="{{ asset('./pion/img/hero-slider/Desctop-1920-910-2.jpg') }}" alt="Новая капсула 2024 г.">
                        </picture>
                        <div class="hero__text">
                            <div class="text-white mb-2 h1">Street and Home</div>
                            <a href="https://womjoy.ru/collections/zhenskaya-odezhda?filter%5B2%5D%5B%5D=22" class="w-white-btn">Посмотреть</a>
                        </div>
                    </div>

                    <div class="hero__slide swiper-slide">
                        <picture>
                            <source srcset="{{ asset('./pion/img/hero-slider/Mobil-600x900-0002.jpg') }}" media="(max-width: 768px)">
                            <source srcset="{{ asset('./pion/img/hero-slider/1920-910-0002.jpg') }}" media="(min-width: 769px)">
                            <img src="{{ asset('./pion/img/hero-slider/1920-910-0002.jpg') }}" alt="Одежда для спорта">
                        </picture>
                        <div class="hero__text">
                            <div class="text-white mb-2 h1">Одежда для спорта</div>
                            {#<div class="hero__title">Одежда для спорта</div>#}
                            {#<div class="text-white mb-2 h1">Новая колекция 2024 г.</div>
                            <div class="text-white display-1 mb-4">NEW PION!</div>#}
                            <a href="https://womjoy.ru/collections/odezhda-dlya-sporta-120" class="w-white-btn">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="hero-btn-prev" type="button"><img src="{{ asset('./pion/img/icons/arrow-left.svg') }}" alt="arrow-left"></button>
            <button class="hero-btn-next" type="button"><img src="{{ asset('./pion/img/icons/arrow-right.svg') }}" alt="arrow-right"></button>
            <div class="hero-pagination"></div>
        </div>
    </section>


    <div class="container-xxl">
        {% if categories is not empty %}
            <section class="w-section">
                <div class="row g-2 g-md-4">
                    <h2>{{ 'home.catalog' | trans }}</h2>
                    {% for category in categories %}
                        <div class="col col-6 col-lg-3">

                            {% if category.imagePath == null %}
                                <a href="{{ category.href }}" class="cat" style="background-image: url({{ asset('./pion/img/cats/img-1.jpg') }});">
                                    <span class="cat__btn w-white-btn">{{ category.name }}</span>
                                </a>
                            {% else %}
                                <a href="{{ category.href }}" class="cat" style="background-image: url({{ storage_path(category.imagePath) }});">
                                    <span class="cat__btn w-white-btn">{{ category.name }}</span>
                                </a>
                            {% endif %}

                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        <section class="w-section">

           {# <div class="main-banner mb-4">
                <div class="main-banner__text">
                    <div class="main-banner__title">Старт продаж скидка ДО 50%</div>
                    <p class="main-banner__descr">Для участников программы лояльности</p>
                    <div class="main-banner__btn w-white-btn">Подробнее</div>
                </div>
                <picture>
                    <source srcset="{{ asset('./pion/img/promo/366-mob.jpg') }}" media="(max-width: 500px)">
                    <img src="{{ asset('./pion/img/promo/promo-0002.jpg') }}" alt="banner 1" class="w-100" width="1126" height="310">
                </picture>
            </div>#}

            <div class="main-banner mb-4">
                <div class="main-banner__text">
                    <div class="main-banner__title">Получите<br>Скидку 5%.</div>
                    <p class="main-banner__descr">На первый заказ </p>
                    {#<div class="main-banner__btn w-white-btn">Подробнее</div>#}
                    <button class="main-banner__btn w-white-btn" type="button" data-modaltarget="modal-subscribe">Подробнее</button>
                </div>
                <picture>
                    <source srcset="{{ asset('./pion/img/promo/promo_banner_mobile_366-366-02.jpg') }}" media="(max-width: 500px)">
                    <img src="{{ asset('./pion/img/promo/promo-0001.jpg') }}" alt="banner 1" class="w-100" width="1126" height="310">
                </picture>
            </div>

        </section>

        <div class="modal modal-md" id="modal-subscribe">
            <div class="modal__bg"></div>
            <div class="modal__content">
                <div class="modal__top">
                    {#<span class="modal__title">Modal title</span>#}
                    <buttno class="modal__close ms-auto" type="button"><img src="{{ asset('./pion/img/icons/close.svg') }}" alt="close"></buttno>
                </div>
                <div class="p-4">
                    <div class="p-3">
                    <p>Подпишитесь на новости womjoy и получите 5% на первый заказ.</p>

                    <p>Предложение действует только для новых
                    клиентов, которые не регистрировались
                    в программе лояльности womjoy.</p>
                    </div>

                    <div id='subscribe-modal-form' class="p-4">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if widget.isNewArrivals %}
    <div class="container-xxl">
        <section class="catalog section">
            <h2 class="mb-4">{{ 'home.new.arrivals' | trans }}</h2>
            <div class="row mb-5 g-2 g-md-4">
                {% for item in popularity %}
                <div class="col col-6 col-md-4 col-lg-3 mb-4">
                    {#<div class="card">#}
                        {#{% include 'default/store/common/product/item_product_card.html.twig' %}#}
                        {% include 'pion/store/common/product/product_item.html.twig' %}
                    {#</div>#}
                </div>
                {% endfor %}

            </div>
        </section>

    </div>

       {# <section class="products section">
            <div class="wrapper">
                <div class="section-top">
                    <h2 class="section-title">{{ 'home.new.arrivals' | trans }}</h2>
                    <a href="{{ widget.hrefNewArrivals }}" class="section-checkall">
                        {{ 'home.view.all' | trans }}
                        <img src="{{ asset('./default/img/icons/green-arrow-right.svg') }}" alt="green arrow right" width="24" height="24">
                    </a>
                </div>

                <div class="products__slider">
                    <div class="products-swiper swiper">
                        <div class="swiper-wrapper">
                            {% for product in newItems %}
                                <div class="product swiper-slide">
                                    {% include 'default/store/common/product/item_product_card.html.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                        <button class="slider-btn-prev" type="button"><img src="{{ asset('./default/img/icons/arrow-left.svg') }}" alt="arrow left" width="24" height="24"></button>
                        <button class="slider-btn-next" type="button"><img src="{{ asset('./default/img/icons/arrow-right.svg') }}" alt="arrow right" width="24" height="24"></button>
                    </div>
                </div>
            </div>
        </section>#}
    {% endif %}


    {% if widget.isActiveSeoText %}
        <div class="container-xxl">
            {{ widget.seoText | raw }}
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}