{% extends 'pion/store/base.html.twig' %}
{% block title %}
    {{ 'cart.title' | trans }}
{% endblock %}
{% block description %}
    {{ 'cart.description' | trans }}
{% endblock %}
{% block body %}
    <div class="container-xxl">
        <div class="breadcrumbs">
            <a href="{{ path('home') }}" class="breadcrumbs__item">Главная</a>
            <div class="breadcrumbs__current">Корзина</div>
        </div>
              {#  {{ cart.id }} --- userId: {{ user }} cart customerId: {{ cart.customerId }}<br>#}

        <div id="cart-id"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('store_cart') }}
{% endblock %}