<div class="card">
    <a href="{{ path('store.product.show', {'slug': item.slug}) }}" class="card__img">
        {% if item.images.count > 0 %}
            <img src="{{ thumbnail_path(item.images.first.path, item.images.first.name~'.webp', 400, 600 ) }}" alt="Thumbnail {{ item.name }}">
        {% else %}
            <img src="{{ asset('./default/img/thumbnail/coming-soon.svg') }}" alt="{{ item.name }} not image">
        {% endif %}
    </a>
    <div class="card__main">
        <a href="{{ path('store.product.show', {'slug': item.slug}) }}" class="card__name">{{ item.name }}</a>
        <span class="card__cost">{{ item.price.listPrice|number_format(0, ',', ' ') }} р.</span>

        <div class="colors">
            <ul class="colors__items">
                <li class="colors__item">
                    <a href="#" class="colors__link colors__link-current" style="background-color:{{ item.getColor }}"></a>
                </li>
                {% for colorVariant in item.relatedColors %}
                    <li class="colors__item">
                        <a href="{{ path('store.product.show', {'slug': colorVariant.slug}) }}" class="colors__link" style="background-color:{{ colorVariant.getColor }}"></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>