<div class="card" data-product-id="{{ item.id }}">

    <a href="{{ path('store.product.show', {'slug': item.slug}) }}" class="card__img">
        <div class="card__img_slider swiper">
            {% if item.images.count > 0 %}
                {% set number=1 %}

                <div class="swiper-wrapper">
                    {% for image in item.images | slice(0, 3) %}
                        <div class="card__img_slide swiper-slide active">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ thumbnail_path(image.path, image.name~'.webp', 400, 600 ) }}" alt="{{ item.name }} - N{{ number }}" width="289" height="384">
                        </div>
                    {% endfor %}
                </div>

                {#<img src="{{ thumbnail_path(item.images.first.path, item.images.first.name~'.webp', 400, 600 ) }}" alt="Thumbnail {{ item.name }}">#}
            {% else %}
                <img src="{{ asset('./default/img/thumbnail/coming-soon.svg') }}" alt="{{ item.name }} not image">
            {% endif %}
        </div>
    </a>

    <div class="card__main">
        <a href="{{ path('store.product.show', {'slug': item.slug}) }}" class="card__name">{{ item.name }}</a>
        {#<span class="card__cost">{{ item.price.listPrice|number_format(0, ',', ' ') }} р.</span>#}

        {% if item.price.listPrice == item.price.price %}
            <span class="product__cost">
                <strong>{{ item.price.price|number_format(0, ',', ' ')}} р.</strong></span>
        {% else %}
            <span class="product__cost">
                <strong>{{ item.price.listPrice|number_format(0, ',', ' ') }} р.</strong>
                <del class="product__old">{{ item.price.price|number_format(0, ',', ' ') }} р.</del>
            </span>
            {#<span class="product__sale">#}
            {# -{{ ((1-(item.price.listPrice / item.price.price)) * 100)|number_format(0, ',', ' ') }}%#}
            {#</span>#}
        {% endif %}

        {#
        <div class="colors">
            <ul class="colors__items">
                <li class="colors__item">
                    <a href="#" class="colors__link colors__link-current" style="background-color:{{ item.getColor }}"></a>
                </li>
                {% for colorVariant in item.relatedColors %}
                    <li class="colors__item">
                        <a href="{{ path('store.product.show', {'slug': colorVariant.slug}) }}" class="colors__link" style="background-color:{{ colorVariant.getColor }}"></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        #}
    </div>
</div>