<div class="card">
    <a href="{{ path('store.product.show', {'slug': item.slug}) }}" class="card__img">
        {% if item.images.count > 0 %}
            <img src="{{ thumbnail_path(item.images.first.path, item.images.first.name~'.webp', 400, 600 ) }}" alt="Thumbnail {{ item.name }}">
        {% else %}
            <img src="{{ asset('./default/img/thumbnail/coming-soon.svg') }}" alt="{{ item.name }} not image">
        {% endif %}
    </a>
    <div class="card__main">
        <a href="{{ path('store.product.show', {'slug': item.slug}) }}" class="card__name">{{ item.name }}</a>
        <span class="card__cost">{{ item.price.listPrice|number_format(0, ',', ' ') }} р.</span>

        {#<div class="colors">
            <ul class="colors__items">
                <li class="colors__item">
                    <a href="#" class="colors__link colors__link-current" style="background-color: #0e0c11"></a>
                </li>
                <li class="colors__item">
                    <a href="#" class="colors__link" style="background-color: #2c1609"></a>
                </li>
                <li class="colors__item">
                    <a href="#" class="colors__link" style="background-color: #cfe881"></a>
                </li>
                <li class="colors__item">
                    <a href="#" class="colors__link" style="background-color: #ff8800"></a>
                </li>
                <li class="colors__item">
                    <a href="#" class="colors__link" style="background-color: #fe4040"></a>
                </li>
            </ul>
        </div>#}

    </div>
</div>