<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('store') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-xxl">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ path('home') }}" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                <li class="nav-item"><a href="{{ path('admin.dashboard.show') }}" class="nav-link">About</a></li>
                <li class="nav-item"><a href="{{ path('store.cart') }}" class="nav-link">Cart</a></li>
            </ul>
        </header>
    </div>
        <div class="container-xxl">
            {% block body %}{% endblock %}
        </div>
    <footer class="footer py-3 bg-light mt-3">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('store') }}
    {% endblock %}
</html>
