{% extends 'admin/base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="row g-2 align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                Matrix
            </div>
            <h2 class="page-title">
                Product edit
            </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
            </div>
        </div>
    </div>
    <div class="mt-3 mb-3">
        <a class="btn btn-bitbucket" href="{{ path('matrix.admin.product.index') }}">Back to list</a>
        {% if product.status.isDraft %}
        <a class="btn btn-bitbucket" href="{{ path('matrix.admin.product.regenerate.article', {'id': product.id}) }}">Regenerate article</a>
        {% endif %}
    </div>
    <div class="card">
        <div class="card-header">
            {% include 'matrix/admin/product/_tabs.html.twig' %}
        </div>
        <div class="card-body">
            <p><strong>Name: </strong> {{ product.name }} </p>
            {% if product.pathExternalImage is not null %}
                <p><strong>Ссылка на яднекс диск:</strong> <a href="{{ product.pathExternalImage }}" target="_blank">{{ product.pathExternalImage }}</a></p>
            {% endif %}


            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-bitbucket">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}

        </div>
    </div>
    <div class="mt-3 mb-3">
        <a class="btn btn-bitbucket" href="{{ path('matrix.admin.product.variant.add', {'product_id': product.id}) }}">Add variant</a>
    </div>
    <div class="card card-body">

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Article</th>
                <th>Barcode</th>
                <th>Int. Barcode</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for variant in product.variants %}
                <tr>
                    <td class="w-1">{{ variant.id }}</td>
                    <td>{{ variant.article}}</td>
                    <td>{{ variant.barcode }}</td>
                    <td>{{ variant.getInternalBarcode }}</td>

                    <td class="w-5">
                        <div class="btn-group w-100" role="group">
                            <a class="btn btn-sm btn-bitbucket rounded-4" href="#">edit</a>
                            <a class="btn btn-sm btn-red rounded-4" href="#">remove</a>
                            <a class="btn btn-sm btn-green rounded-4"
                               href="{{ path('matrix.admin.product.variant.barcode.generate', {
                                    'product_id': product.id,
                                    'id': variant.id})
                               }}">gen. barcode
                            </a>
                           {# {% include 'admin/matrix/product/_delete_form.html.twig' %}#}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


