{% extends 'admin/base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="row g-2 align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                Matrix
            </div>
            <h2 class="page-title">
                Product index
            </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
            </div>
        </div>
    </div>
    <div class="mt-3 mb-3">
        <a class="btn btn-bitbucket" href="{{ path('matrix.admin.product.create') }}">Create new</a>
    </div>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.name) }}</div>
                <div class="col-md-2">{{ form_widget(form.article) }}</div>
                <div class="col-md-2">{{ form_widget(form.status) }}</div>
                <div class="col-md-2">{{ form_widget(form.subject) }}</div>
                <div class="col-md-2">{{ form_widget(form.color) }}</div>
                <div class="col-md-2">{{ form_widget(form.model) }}</div>
            </div>
            <div class="row mt-1">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-bitbucket">Filter</button>
                    <a href="{{ path('matrix.admin.product.index') }}" class="btn btn-outline-secondary">Reset</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
    <div class="card card-body">
        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Status</th>
                <th>Article / Color</th>
                <th>Name</th>
                <th>Subject</th>
                <th>Model</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in pagination %}
                <tr>
                    <td>
                        {% if product.images.count > 0 %}
                            {% set file = product.images.first %}
                            {% set file_url = storage_path(file.path ~'/'~ file.fileName) %}

                            {% set preview = '<img src="' ~ file_url ~ '" alt="' ~ product.name ~ '"/>' %}

                            <a href="{{ file_url }}" data-bs-toggle="tooltip" data-bs-html="true" title="{{ preview }}">
                                <img class="avatar avatar-sm" src="{{ file_url }}" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                    </td>
                    <td>{{matrix_product_status(product.status) }} <br> <strong>{{ product.createdAt| date('Y')}} </strong></td>
                    <td>
                        {{ product.article }}
                        <br>
                        {{ product.color.name }}

                    </td>
                    <td>{{ product.name }} <br>
                        {% if product.pathExternalImage is not null %}
                            <a href="{{ product.pathExternalImage }}" target="_blank">images</a>
                        {% endif %}
                    </td>
                    <td>{{ product.subject.name }}</td>
                    <td>{{ product.model.name }}</td>
                    <td class="w-5">
                        <div class="btn-group w-100" role="group">
                            <a class="btn btn-sm btn-bitbucket rounded-4" href="{{ path('matrix.admin.product.edit',{'id': product.id}) }}">edit</a>
                            {% include 'matrix/admin/product/_delete_form.html.twig' %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <div class="pagination mt-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
